openapi: 3.1.0
info:
  title: Component Compatibility API
  description: |
    Validates mechatronic component compatibility and suggests replacements for incompatible parts.
    Covers job story JS4 (Compatibility Verification).
  version: 1.0.0
  contact:
    name: Drone Web API Team
  license:
    name: Proprietary
    url: https://droneparts.com/terms

servers:
  - url: https://api.droneparts.com/compatibility/v1
    description: Production

security:
  - apiKey: []
  - oauth2: []

tags:
  - name: Compatibility Checks
    description: Component compatibility validation and replacement suggestions (JS4)

paths:
  /checks:
    post:
      operationId: checkCompatibility
      summary: Check component compatibility
      description: |
        Submit a set of components (2+) for compatibility validation. Evaluates voltage,
        current rating, physical fit, protocol, and weight/thrust compatibility.
        Creates a persistent check result for subsequent replacement lookups.
      tags: [Compatibility Checks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productIds]
              properties:
                productIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  description: Product IDs of components to check
            example:
              productIds: ["d290f1ee-6c54-4b01-90e6-d701748f0851", "f47ac10b-58cc-4372-a567-0e02b2c3d479", "7c9e6679-7425-40de-944b-e07fc1f90ae7", "c3d4e5f6-a7b8-4c9d-ae1f-2a3b4c5d6e7f"]
      responses:
        '201':
          description: Compatibility check created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheck'
              example:
                checkId: "550e8400-e29b-41d4-a716-446655440000"
                components: ["d290f1ee-6c54-4b01-90e6-d701748f0851", "f47ac10b-58cc-4372-a567-0e02b2c3d479", "7c9e6679-7425-40de-944b-e07fc1f90ae7", "c3d4e5f6-a7b8-4c9d-ae1f-2a3b4c5d6e7f"]
                status: "fail"
                incompatibilities:
                  - componentA: "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    componentB: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                    rule: "Motor voltage range (4S-6S) exceeds ESC maximum (4S)"
                    type: "voltage-mismatch"
                    severity: "error"
                checkedDate: "2026-02-15T14:30:00Z"
        '400':
          description: Invalid request (fewer than 2 components)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: "https://api.droneparts.com/problems/bad-request"
                title: "Bad Request"
                status: 400
                detail: "At least 2 component IDs are required"
        '404':
          description: One or more products not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Unrecognized component type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: "https://api.droneparts.com/problems/unprocessable-entity"
                title: "Unprocessable Entity"
                status: 422
                detail: "Product 'e5f6a7b8-c9d0-4e1f-ba3b-4c5d6e7f8a9b' is not a recognized component type for compatibility checking"

  /checks/{checkId}/replacements/{productId}:
    get:
      operationId: getCompatibleReplacements
      summary: Get compatible replacements
      description: |
        For an incompatible component in a previous check, retrieve alternative
        products that would resolve the incompatibility.
      tags: [Compatibility Checks]
      parameters:
        - name: checkId
          in: path
          required: true
          description: Compatibility check UUID
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: productId
          in: path
          required: true
          description: Product UUID of the incompatible component to replace
          schema:
            type: string
            format: uuid
            example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
      responses:
        '200':
          description: Compatible replacement products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReplacementProduct'
              example:
                - productId: "8daf8890-8536-41ef-a55c-f18ad2a01bf8"
                  name: "T-Motor F45A 4-in-1 ESC (6S)"
                  brand: "T-Motor"
                  specifications:
                    maxVoltage: "6S"
                    continuousCurrent: "45A"
                    burstCurrent: "55A"
                  pricing:
                    basePrice: 42.99
                    currency: "USD"
                - productId: "9eb09901-9647-42f0-b66d-a29be3b12ca9"
                  name: "Holybro Tekko32 F4 50A (6S)"
                  brand: "Holybro"
                  specifications:
                    maxVoltage: "6S"
                    continuousCurrent: "50A"
                    burstCurrent: "65A"
                  pricing:
                    basePrice: 49.99
                    currency: "USD"
        '404':
          description: Check or product not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

components:
  schemas:
    CompatibilityCheck:
      type: object
      required: [checkId, components, status, checkedDate]
      properties:
        checkId:
          type: string
          format: uuid
        components:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum: [pass, fail, partial]
        incompatibilities:
          type: array
          items:
            $ref: '#/components/schemas/Incompatibility'
        checkedDate:
          type: string
          format: date-time

    Incompatibility:
      type: object
      required: [componentA, componentB, rule, type, severity]
      properties:
        componentA:
          type: string
          format: uuid
        componentB:
          type: string
          format: uuid
        rule:
          type: string
          description: Human-readable description of the violated rule
        type:
          type: string
          enum: [voltage-mismatch, current-exceeded, physical-fit, protocol-mismatch, weight-thrust]
        severity:
          type: string
          enum: [error, warning]

    ReplacementProduct:
      type: object
      required: [productId, name, brand, specifications, pricing]
      properties:
        productId:
          type: string
          format: uuid
        name:
          type: string
        brand:
          type: string
        specifications:
          type: object
          additionalProperties: true
        pricing:
          type: object
          properties:
            basePrice:
              type: number
            currency:
              type: string

    ProblemDetails:
      type: object
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string

  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-Key
      in: header
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.droneparts.com/oauth/token
          scopes:
            compatibility:read: Check compatibility
            compatibility:write: Create compatibility checks
